*{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    grid-area: sidebar;
  }
header{
    grid-area: header;
  }
main {
    grid-area: main;
  }
.right-side{
  grid-area: right-side;
}

.container {
    display: grid;
    grid-template-columns: 15vw 35vw 30vw 20vw;
    grid-template-rows: auto;
    grid-template-areas: 
      "sidebar header header header"
      "sidebar main main right-side"
      "sidebar main main right-side";
}

.sidebar{
    width: 25vw;
    height: 100vh;
    background-color: rgb(192, 252, 166);
}

header{
    width: 80vw;
    height:20vh;
    background-color: rgb(241, 241, 241);
    margin-left: 4.4vw;
}

main{
    width: 80vw;
    height: 80vh;
    background-color: rgb(230, 254, 220);
    margin-left: 4.4vw;
}

.sidebar{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20vh 30vh 10vh;
    grid-template-areas: "dashboard"
        "first-row"
        "second-row";
}

.right-side{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2vw 15vw 2vw 15vw;
    grid-template-areas: 
      "first-box"
      "second-box";
}

.first-box{
  margin-right: 30px;
  border-radius: 2mm;
  border-color: white;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}

.second-box{
  margin-right: 30px;
  border-radius: 2mm;
  border-color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}


.main-right{
  grid-area: main-right;
  margin-bottom: 2vh;
  margin-left: 10px;
  border-radius: 2mm;
  border-color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}

.main-left{
  grid-area: main-left;
  margin-bottom: 2vh;
  border-radius: 2mm;
  border-color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}
.m-headline{
  grid-area: m-headline;
}
.main-left2{
  grid-area: main-left2;
  margin-bottom: 2vh;
  border-radius: 2mm;
  border-color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}

.main-left3{
  grid-area: main-left3;
  border-radius: 2mm;
  border-color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}

.main-right2{
  grid-area: main-right2;
  margin-left: 10px;
  margin-bottom: 2vh;
  border-radius: 2mm;
  border-color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}

.main-right3{
  grid-area: main-right3;
  margin-left: 10px;
  border-radius: 2mm;
  border-color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}

main{ 
  display: grid;
  grid-template-columns: 2vw 25vw 25vw;
  grid-template-rows: 4vh 22vh 22vh 22vh;
  grid-template-areas: 
    ". m-headline m-headline"
    ". main-left main-right"
    ". main-left2 main-right2"
    ". main-left3 main-right3";}

.dashboard{
  font-size: 35px;
  margin-top: 2vh;
  margin-left: 2vw;
}

.first-row{
  font-size: 20px;
  margin-left: 2vw;
}

.second-row{
  font-size: 20px;
  margin-left: 2vw;
}

p{
  margin-bottom: 1vh;
}


.search {
  width: 100%;
  display: flex;
  grid-area: search;
  margin-top: 6vh;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  margin-top: 4vh;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-top: 4vh;
}

.wrap{
  width: 40%;
  margin-top: 4vh;
  margin-left: 20vw;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
    grid-template-columns: 30vw 40vw;
    grid-template-rows: auto;
    grid-template-areas:
        "search right-navbar"
        "down-navbar right-down-nav";
}

.down-navbar{
  margin-top: 4vh;
  grid-area: down-navbar;
}

.right-navbar{
  grid-area: right-navbar;
  display: flex;
  justify-content: flex-start;
  margin-top: 90px;
  margin-left: 700px;
}

.right-down-nav{
  grid-area: right-down-nav;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.three-boxes{
  margin-left: 10vw;
  border: 5px;
  margin-top: 5vh;
  width:4vw;
  border-radius: 8%;
  height: 40px;
  background-color: red;
}

